In [72]:
import pandas as pd
import numpy as np
import googlemaps
from datetime import datetime
gmaps = googlemaps.Client(key='AIzaSyCPOZSCpldm0D_yoPk4pV1IvpcwH4iYjLg')

drlocations = pd.read_csv('/Users/joycetagal/GitHub/metis-eda/drlocations.csv')

In [73]:
drlocations.head()

    store_name                               address
0  Duane Reade      250 BROADWAY, NEW YORK, NY 10007
1  Duane Reade      305 BROADWAY, NEW YORK, NY 10007
2  Duane Reade         17 JOHN ST NEW YORK, NY 10038
3  Duane Reade  185 GREENWICH ST, NEW YORK, NY 10007
4  Duane Reade      200 WATER ST, NEW YORK, NY 10038

In [74]:
drlocations["latlon"] = drlocations.address.apply(lambda address : gmaps.geocode(address)[0]['geometry']['location'])

In [75]:
drlocations.head()

,store_name,address,latlon
0,Duane Reade,"250 BROADWAY, NEW YORK, NY 10007","{'lat': 40.7130079, 'lng': -74.0078212}"
1,Duane Reade,"305 BROADWAY, NEW YORK, NY 10007","{'lat': 40.7154787, 'lng': -74.005545}"
2,Duane Reade,"17 JOHN ST NEW YORK, NY 10038","{'lat': 40.7099702, 'lng': -74.0087412}"
3,Duane Reade,"185 GREENWICH ST, NEW YORK, NY 10007","{'lat': 40.7115663, 'lng': -74.0114261}"
4,Duane Reade,"200 WATER ST, NEW YORK, NY 10038","{'lat': 40.7072559, 'lng': -74.0048047}"

In [76]:
drlocations = pd.concat([drlocations, drlocations['latlon']
                         .apply(pd.Series)], axis=1
                       ).drop("latlon", axis=1)

In [77]:
drlocations.head()

    store_name                               address        lat        lng
0  Duane Reade      250 BROADWAY, NEW YORK, NY 10007  40.713008 -74.007821
1  Duane Reade      305 BROADWAY, NEW YORK, NY 10007  40.715479 -74.005545
2  Duane Reade         17 JOHN ST NEW YORK, NY 10038  40.709970 -74.008741
3  Duane Reade  185 GREENWICH ST, NEW YORK, NY 10007  40.711566 -74.011426
4  Duane Reade      200 WATER ST, NEW YORK, NY 10038  40.707256 -74.004805